body{
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 100px;
    border: 2px solid #ccc;
}
table td {
    padding: 16px;
    background-color: #eee;
}
table thead td {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;


}