a {
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    padding: 100px;
    margin-right: 30px;
    text-decoration: none;
    border-radius: 2px ;
    color: white;
    background-color: rgb(27, 139, 106);
    font-size: xx-large;
}