.continue {
    display: flex;
    gap: 10px;
}
.div1 {
    background-color: #eee;
    padding: 7% 9%;
    font-size: xx-large;
    border: 7px solid red;
    outline: 7px solid black;
}
.div2 {
    background-color: #eee;
    padding: 7% 9%;
    margin-left: 10px;
    font-size: xx-large;
    border-color: blue rgb(0, 185, 0);
    border-style: solid;
    border-width: 7px 7px;
    outline: 7px solid black;
}
.div3 {
    background-color: #eee;
    padding: 7% 9%;
    margin-left: 10px;
    font-size: xx-large;
    border-color:red rgb(20, 131, 20) blue  yellow;
    border-style: dashed;
    border-width: 7px 7px;
    outline: 7px solid black;
}



