body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto;
    gap: 20px;
    width: 80%;
    background-color: #ddd;
    padding: 50px;
}

.box {
    background-color: #e91e63;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
