body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.flip-box {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}
.flip-box .front,
.flip-box .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f53f60;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    backface-visibility: hidden;
}
.flip-box .back {
    background-color: #1e88e5;
    transform: rotateY(180deg);
}

.horizontal:hover .flip-box {
    transform: rotateY(180deg);
}

.vertical:hover .flip-box {
    transform: rotateX(180deg);
}
